.container {
  padding-top: 1em;
}

.report {
  text-align: center;
  margin-bottom: 1em;
}

.fullwidth {
  width: 100%;
}

table.expenses tr th {
  width: 25%;
}

table.expenses tr td {
  width: 25%;
}

table.expenses tr.ng-enter,
table.expenses tr.ng-move
{
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

table.expenses tr.ng-enter.ng-enter-active,
table.expenses tr.ng-move.ng-move-active
{
  opacity: 1;
}
