<div class="row">
  <div class='col-xs-12'>
    <a data-ng-href="#/expenses/new" class='btn btn-default fullwidth'>Eintragen</a><br><br>
  </div>
</div>

<div class='report' data-ng-controller='TotalAmountController'>
  {{ biggestSpender.User }} ist um {{ biggestSpender.Amount - lesserSpender.Amount }}€ voraus.
</div>

<table class='expenses table table-condensed'>
  <tr>
    <th>Datum</th>
    <th>Ausgabe</th>
    <th>Kategorie</th>
    <th>Wer</th>
  </tr>
  <tr data-ng-if='!expenses'>
    <td colspan='4'>Loading</td>
  </tr>
  <tr data-ng-repeat="expense in expenses">
    <td>{{ expense.SpentAt | date : 'dd.MM.yy' }}</td>
    <td>{{ expense.Amount }}€</td>
    <td>{{ expense.Category }}</td>
    <td>{{ expense.User }}</td>
  </tr>
</table>
