<div class="row">
  <div class='col-xs-12'>
    <a data-ng-href="#/" class='btn btn-default fullwidth'>Ausgaben</a>
  </div>
</div>

<hr>

<form class='form-horizontal' role='form' name='form' accept-charset="utf-8">

  <div class="form-group">
    <label for="Date" class='col-xs-4 control-label'>Datum</label>
    <div class="col-xs-8">
      <input type="date" name="Date" id="Date" data-ng-model="expense.Date" />
    </div>
  </div>

  <div class="form-group">
    <label for="Amount" class='col-xs-4 control-label'>Ausgabe</label>
    <div class="col-xs-8">
      <input type="tel" name="Amount" id="Amount" data-ng-model="expense.Amount" data-ng-pattern="/\d+/" data-ng-required="true" />
    </div>
  </div>

  <div class="form-group">
    <label for="Category" class='col-xs-4 control-label'>Kategorie</label>
    <div class="col-xs-8">
      <select data-ng-model='expense.Category' data-ng-options='category for category in Categories' />
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">
      <button data-ng-click="Submit('Hilke')" type='submit' data-ng-disabled="form.$invalid" class='btn btn-primary' style='width: 100%'>Hilke →</button>
    </div>
    <div class="col-xs-6">
      <button data-ng-click="Submit('Jaap')" type='submit' data-ng-disabled="form.$invalid" class='btn btn-primary' style='width: 100%'>Jaap →</button>
    </div>
  </div>
</form>
